.BookNowButton {
    background-color: var(--primary-accent) !important;
    color: #ffffff !important;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.3rem 1.25rem;
    text-transform: none;

    &:hover {
        background-color: #ffffff !important;
        color: var(--primary-accent) !important;
        border-color: var(--primary-accent) !important;
    }

    @media screen and (max-width: 750px) {
        width: 100%;
        margin: auto;

        &.mobileBtn {
            display: flex;
            width: 50vw;
        }
    }
}
